.service-card {
    height: 500px;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 2px 3px 5px rgb(88, 98, 240);
}

.card-img {
    height: 250px;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}

.card-title {
    color: rgb(0, 140, 255);
    text-shadow: 1px 1px rgb(131, 115, 97);
}

.card-info {
    text-align: left;
    color: black;
}

.package-price {
    font-size: 20px;
}

.package-price span {
    color: rgb(189, 123, 0);
    font-weight: 600;
}


.service-card:hover {
    background-color: rgba(250, 241, 241, 0.233);
}